#lcpinfo-page{
    width: 100vw;
    background-color: #76BA99;
    color: #FFDCAE;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    position: static;
    z-index: 1;
    top: 0px;
    height: 30px;
}

@media only screen and (max-width: 600px) {
    #lcpinfo-page {
      height: 55px;
    }
  }